$blue-font: #a5b4fc;
$blue-body: #1f2039;
$white: #ffffff;

.title {
  padding: 4rem;

  &__h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    color: $blue-font;
    text-align: center;
    text-shadow: 0.1rem 0.1rem mix($blue-body, $blue-font, 70%);
  }
}

.photos {
  background-color: $white;
  border-bottom: 3rem solid $blue-body;

  &__h2 {
    color: $blue-body;
    margin-bottom: 1rem;
  }

  &__grid-color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25rem 25rem 25rem;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__grid-NB {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25rem 25rem 25rem;
    gap: 1rem;
  }

  &__grid-color img,
  &__grid-NB img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.13rem $blue-body solid;
  }

  &__link-photos {
    position: relative;
  }

  &__photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: $white;
    background-color: rgba($blue-body, 0.5);
    display: none;
  }

  &__link-photos:hover &__photo-hover {
    display: flex;
  }
}

@media screen and (max-width: 996px) {
  .title {
    &__h1 {
      font-size: 2rem;
    }
  }

  .photos {
    &__grid-color,
    &__grid-NB {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 65%;
      margin: auto;
    }

    &__grid-color {
      margin-bottom: 3rem;
    }

    &__h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .photos {
    &__grid-color,
    &__grid-NB {
      width: 85%;
    }
  }
}
