$blue-font: #a5b4fc;
$blue-body: #1f2039;
$white: #ffffff;

//mixins

@mixin borders($color) {
  border: 0.13rem solid $color;
  border-radius: 20%;
}

//général

* {
  margin: 0;
}

body {
  font-family: "Monserrat", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

section {
  padding: 4rem;
}

p,
li {
  font-size: 1.1em;
  color: $white;
}

.header {
  background-color: white;
  padding: 1.3rem 3rem;
}

/* bloc navbar avec éléments et modificateurs */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: $blue-font;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
  }

  &__link {
    margin-left: 2rem;
    padding: 0.3rem;
    @include borders($blue-body);
    text-decoration: none;
    color: $blue-body;

    &--color {
      color: $blue-font;
      @include borders($blue-font);
    }
  }

  &__link:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}

.footer {
  background-color: white;
  padding: 1.3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: $blue-font;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
  }

  &__link {
    text-decoration: none;
    padding: 0.3rem;

    &--color {
      @include borders($blue-font);
    }
  }

  &__link:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
}

@media screen and (max-width: 996px) {
  section {
    padding: 3rem 1.3rem 3rem 1.3rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__logo {
      font-size: 2em;
    }

    &__link {
      margin-left: 0.6rem;
      margin-right: 0.6rem;
    }
  }

  .header,
  .footer {
    padding: 1.3rem 1.3rem;
  }

  .footer__logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  section {
    padding: 1.3rem 1.3rem 3rem 1.3rem;
  }
}
